.div_menu {
  background-color: black;
  margin-bottom: 8px;
}

.menu {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}

.slider {
  margin-left: 2%;
  width: 46%;
  height: 600px;
}

.slider2 {
  margin-right: 2%;
  width: 939px;
  height: 600px;
}

.footer {
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: black;
}

.footer-alamat {
  text-align: center;
  background-color: black;
  color: white;
}
